/* --------------------------------------------------------------HERO */

/* .hero {
  background-color: #2e2f42;
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  background-size: cover;
  margin: auto;
} */

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 216px;
  margin: 0 auto;
}

.hero-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-x1.jpg);
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }

  .hero-btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desc-x1.jpg);
    max-width: 1440px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-btn {
    margin-top: 48px;
  }
}

/* ----------------------------------------------ADVENTAGES */

.advantages {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.advantages-item:last-child {
  margin-bottom: 0;
}

.advantages-item {
  max-width: 264px;
}

.advantages-subtitles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantages-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-height: 104px;
  max-width: 288px;
}

@media screen and (max-width: 1157px) {
  .advantages-item-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .advantages-container {
    /* max-width: 736px; */
  }

  .advantages-list {
    /* gap: 72px 24px; */
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  /* .advantages-item-text {
    width: 356px;
  } */

  .advantages-subtitles {
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .advantages-item-text {
    font-weight: 500;
    max-width: 356px;
    height: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container .advantages-container {
    width: 1128px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages-list :last-child {
    margin-right: 0;
  }

  .advantages-subtitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 264px;
  }

  .advantages-item-text {
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    height: 104px;
  }
}

/* --------------------------------------------------TEAM */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  min-width: 264px;
  min-height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.class-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  max-width: 100%;
}

.team-item-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding-top: 32px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  .team {
    height: 1224px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    height: 732px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* -----------------------------------------------PORTFOLIO */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-container {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-image-container {
  width: 288px;
  height: 280px;
}

.portfolio-image {
  width: 100%;
}

.portfolio-item {
  width: 288px;
  height: 400px;
}

@media screen and (max-width: 1157px) {
  .portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }

  .portfolio-image-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    width: 356px;
    height: 420px;
  }

  .portfolio-image-container {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    display: flex;
    row-gap: 48px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    cursor: pointer;
    width: 360px;
    height: 420px;
  }

  .portfolio-image-container {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  .portfolio-image-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    height: 100%;
    padding: 40px 32px;
  }

  .portfolio-item:hover .portfolio-image-text {
    transform: translateY(0%);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* ----------------------------------------FOOTER */

.footer {
  background-color: #2e2f42;
  min-height: 312px;
  width: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

/* .footer-logo {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.logo .footer-logo .logo-part {
  text-align: center;
} */

.footer-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}

.footer-container-items {
  margin-bottom: 72px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

/* .footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
} */

.footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-email-footer {
  display: flex;
  gap: 24px;
}

.footer-email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

.footer-email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}

.footer-btn-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

.footer-email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    justify-content: center;
  }

  .footer-subscribe {
    text-align: center;
  }

  .form-email-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .footer-social-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 208px;
    height: 80px;
    margin-bottom: 72px;
  }

  .footer-email-btn {
    min-width: 165px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-social-block {
    margin-left: 24px;
  }

  .footer-container {
    padding: 0 96px;
  }
}

@media screen and (min-width: 768px) {
  .footer-email-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    width: 1128px;
  }

  .footer-container-items {
    width: 264px;
    height: 112px;
    margin-right: 120px;
  }

  .footer-social-link {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #404bbf;
    background: #31d0aa;
  }

  .subscribe {
    margin-left: auto;
  }

  .footer-email-btn:hover,
  .footer-email-btn:focus {
    background-color: #404bbf;
    background: #31d0aa;
  }

  .footer-email-input:hover,
  .footer-email-input:focus {
    backgraund-color: #fff;
    border-color: #31d0aa;
  }
}

/* -------------------------------------------------MODAL+BACDROP */

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrope.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  /* margin-bottom: 8px; */
}

.backdrope:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

/* .modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
  text-align: center;
} */

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  padding-right: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-user {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input:focus + .label-user {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-form {
  margin-bottom: 24px;
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-field .modal-check {
  margin-bottom: 16px;
}

.modal-field-checbox {
  margin-bottom: 24px;
}

.modal-form-window {
  margin-bottom: 8px;
}
/* 
.modal-field-form {
  margin-bottom: 16px;
} */

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 120px;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  line-height: 1.17;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.label-user {
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 24px;
}

.modal-check-text .modal-check-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-check:checked + .modal-check-text .modal-check-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background: #404bbf;
}

.terms-link {
  line-height: 16px;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-link:hover,
.terms-link:focus {
  color: #404bbf;
}

.modal-check-icon {
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.modal-check-ancer {
}

@media screen and (max-width: 767px) {
  .modal-check-text {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
  }
  .modal-close-btn {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
  }

  .modal-close-btn .button-close:hover,
  .modal-close-btn .button-close:focus {
    color: #fff;
  }

  .button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
